.main-image {
  position: absolute;
  border-radius: 9999px;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

/* Let Next.js handle width/height via 'fill' prop */
.image-exit {
  animation: imageExit 0.5s forwards;
  z-index: 10;
}

.image-enter {
  animation: imageEnter 0.5s forwards;
  z-index: 20;
}

@keyframes imageExit {
  0% {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(100%) scale(0.5);
  }
}

@keyframes imageEnter {
  0% {
    opacity: 0;
    transform: translateX(100%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translateY(0%) scale(1);
  }
}
